@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Fraunces", serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid none;
  border-radius: 10px;
  width: 375px; /* Locked */
  height: 610px;
  max-width: 100%;
}

.img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: url("images/image-product-mobile.jpg") no-repeat center/cover;
  height: 240px;
  width: 100%;
}

.contents {
  padding: 20px;
}

h2 {
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 34px;
  margin: 12px 0;
}

p {
  color: hsl(228, 12%, 48%);
  line-height: 1.5em;
  margin-bottom: 20px;
}

.current-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  margin-right: 25px;
}

.old-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.current-price,
.old-price {
  vertical-align: middle;
}

.button {
  margin-top: 20px;
}

a,
.imgCart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCart {
  background: url("images/icon-cart.svg") no-repeat center/cover;
  width: 18px;
  height: 18px;
}

a {
  padding: 14px 18px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  gap: 8px;
}

a:hover {
  background-color: hsl(212, 21%, 14%);
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    width: 600px;
    height: 350px;
  }

  .img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 800px;
    background: url("images/image-product-desktop.jpg") no-repeat center/cover;
    height: 350px;
  }
}
